.calendar-removebtn {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
    background-color: #FFF
}

/* .calendar-removebtn {
    color: black;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 13px;
    height: 13px;
    cursor: pointer;
} */

.removebtn {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 13px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
    background-color: #FFF
}