{%- extends "base.html" %}

{%- block content %}
<div class="page-header">
   
  <!-- <div class="row mt-3">
    <div class="col-md">
      <ul style="padding-left: 7px; list-style-position: inside;">
        <li>All pages require UNI authentication.</li>
        <li>Dashboards are optimized for desktop viewing.</li>
        <li>Use <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> if you encounter problems in other browsers.</li>
        <li>Dashboards may take several seconds to load, depending on your system.</li>
      </ul>
      <p>
        For any questions, feel free to contact Timur Gulyamov (<span class="text-info">tg2648</span>).
      </p>
      <small class="text-muted">
      <div class="mt-4 mb-1"><u>Acknowledgements:</u></div>
        <ul style="padding-left: 5px; list-style-position: inside;">
          <li><a href="https://plot.ly/dash/" target="_blank">Plotly</a> for developing an open-source dashboard platform</li>
          <li>Michael Stanish (A&S IT) for invaluable technical support and guidance</li>
          <li>CUIT for web hosting and CAS support</li>
          <li>Open-source community {#(<a href="https://www.palletsprojects.com/p/flask/" target="_blank">Flask</a> project in particular)</li>#}
        </ul>
      </small>
    </div>
    
    <div class="col-md-5">
      <div class="list-group">
        <a href="{{ url_for('lab_occupancy.index') }}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1 text-info">Lab Occupancy Form</h5>
          </div>
        </a> 
      </div>
      <hr>
      <div class="list-group">
          {#
          <a href="/deptprofile/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-info">Department Profile Dashboard</h5>
            </div>
            <p class="mb-1">
              Department data on faculty, students, and classes.
            </p>
          </a>
          #}
          <a href="/faculty_governance/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-info">Faculty Governance</h5>
            </div>
            <p class="mb-1">
              Repository of committee reports, faculty meeting minutes, letters, etc.
            </p>
          </a>
          <a href="/searchcom/" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-info">Search Committee Dashboard</h5>
              <small class="text-muted">v1.1</small>
            </div>
            <p class="mb-1">
              Provides a summary of demographics of applicants and comparisons to the pipeline for ladder-rank searches.
            </p>
          </a>
          <a href="{{ url_for('fif_archive.index') }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-info">FIF Archive</h5>
            </div>
            <p class="mb-1">
              Get a copy of your FIF (starting 2018-19).
            </p>
          </a>   
      </div>
    </div>

    
  </div> -->
  
  <h3 class="text-info mt-3">Welcome</h3>

  
  <div class="row mt-3 reverse-order-mobile">
    <div class="col">

    <h5 class="text-info">At a glance</h5>
    <div id="chart"></div>
      
    </div>
    
    <div class="col-md-auto">
      <h5 class="nav-primary-title">Navigation</h5>

      <nav class="nav-primary">
        <ul>
          <li><a href="faculty_governance">Faculty Governance</a></li>
          <li><a href="{{ url_for('fif_archive.index') }}">FIF Archive</a></li>
          <li><a href="{{ url_for('lab_occupancy.index') }}">Lab Occupancy Form</a></li>
        </ul>
      </nav>

      <h6 class="nav-primary-subtitle">Dashboards</h6>

      <nav class="nav-primary">
        <ul>
          <li><a href="searchcom">Search Committee</a></li>
          <li><span class="text-muted" style="font-size: 1.1em;">Department/Diversity (coming soon&trade;)</span></li>
          <!-- <li><a>Department/Diversity (coming soon&trade;)</a></li> -->
        </ul>
      </nav>
      
      <nav class="nav-secondary">
        <ul>
          <li><a href="{{ url_for('main.about') }}">About</a></li>
          <li><a href="{{ url_for('main.help') }}">Help</a></li>
        </ul>
      </nav>
    </div>
  </div>

</div>

{%- if config['ENV'] == 'prod' %}
<script src="https://cu-dash-static.s3.us-east-2.amazonaws.com/scripts/chart.js"></script>
{%- else -%}
<script src="{{ url_for('static', filename='chart.js') }}"></script>
{%- endif %}

{%- endblock %}