{%- extends "base.html" %}

{%- block content %}
<div class="page-header">

  {%- if config['ENV'] == 'dev' %}
  <div class="alert alert-info my-3">
    <strong>Heads up!</strong> You are on the test version of the A&S reporting website.
  </div>
  {%- endif %}

  <div class="row mt-3">
    <div class="col-md">
      <h3 class="text-info mb-3">Welcome</h3>
      <ul style="padding-left: 7px; list-style-position: inside;">
        <li>All pages require UNI authentication.</li>
        <li>Dashboards are optimized for desktop viewing.</li>
        <li>Use <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a> if you encounter problems in other browsers.</li>
        <li>Dashboards may take several seconds to load, depending on your system.</li>
      </ul>
      <p>
        For any questions, feel free to contact Timur Gulyamov (<span class="text-info">tg2648</span>).
      </p>
      <small class="text-muted">
      <div class="mt-4 mb-1"><u>Acknowledgements:</u></div>
        <ul style="padding-left: 5px; list-style-position: inside;">
          <li><a href="https://plot.ly/dash/" target="_blank">Plotly</a> for developing an open-source dashboard platform</li>
          <li>Michael Stanish (A&S IT) for invaluable technical support and guidance</li>
          <li>CUIT for web hosting and CAS support</li>
          <li>Open-source community</li>
        </ul>
      </small>
    </div>
    
    <div class="col-md-3">
      <h3 class="text-info mb-3" style="padding-left: 0.4rem;">Navigation</h3>
      <div class="list-group">
          <a href="/faculty_governance/" class="list-group-item list-group-item-action flex-column align-items-start">
            Faculty Governance
          </a>
          <a href="/deptprofile/" class="list-group-item list-group-item-action flex-column align-items-start">
            Department Profiles
          </a>
          <a href="/searchcom/" class="list-group-item list-group-item-action flex-column align-items-start">
            Search Committee Dashboard
          </a>
          <a href="{{ url_for('fif_archive.index') }}" class="list-group-item list-group-item-action flex-column align-items-start">
            FIF Archive
          </a>
          <a href="{{ url_for('lab_occupancy.index') }}" class="list-group-item list-group-item-action flex-column align-items-start">
            Lab Occupancy Form
          </a> 
      </div>
    </div>
  </div>

</div>
{%- endblock %}